.form-profile__input-container {
    max-width: calc(100% - 72px);
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 34px auto 0;
    padding: 0;
    border:none;
    box-sizing: border-box;
}

@media screen and (max-width: 613px){
  .form-profile__input-container {
    max-width: calc(100% - 44px);
    margin-top: 25px;
  }
}