.form-profile__button {
    width: 100%;
    margin: 48px auto 36px;
    padding: 14px 0 18px;
    background-color: #000;
    border: none;
    outline: none;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.22;
    text-align: center;
    color: #FFF;
    cursor: pointer;
}
  
@media screen and (max-width: 510px){
    .form-profile__button {
      margin-top: 46px;
      margin-bottom: 25px;
    }
}