.page {
    background-color: #000000;;
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    color: #FFFFFF;
  }

  .page__container {
    max-width: 1280px;
    min-width: 320px;
    margin: 0 auto;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
}

.hover-effect {
  transition: all .4s ease-in-out;
}
.header {
    max-width: calc(100% - 400px);
    margin: 0 auto;
    padding: 45px 0 0;
    border-bottom: 1px solid rgb(84,84,84, .7);
}

@media screen and (max-width: 1024px){
  .header {
    max-width: calc(100% - 200px);
  }
}

@media screen and (max-width: 768px){
  .header {
    max-width: calc(100% - 100px);
  }
}

@media screen and (max-width: 510px){
  .header {
    max-width: 100%;
  }
}

.header__vector-logo {
    margin: 0 0 41px;
}

@media screen and (max-width: 510px){
  .header__vector-logo {
    margin: 0 0 32px 27px;
}
}

.content {
  max-width: calc(100% - 400px);
  margin: 0 auto;
}

@media screen and (max-width: 1024px){
  .content {
    max-width: calc(100% - 200px);
  }
}

@media screen and (max-width: 768px){
  .content {
    max-width: calc(100% - 100px);
  }
}

@media screen and (max-width: 510px){
  .content {
    max-width: calc(100% - 38px);
  }
}
.profile {
    max-width: 100%;
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    padding: 40px 0 0;
}

@media screen and (max-width: 510px){
  .profile {
    padding-top: 42px;
    flex-direction: column;
  }
}

.profile__avatar-picture {
    max-width: 120px;
    margin: 0 30px 0 0;
    grid-area: title;
    border-radius: 50%;
}

@media screen and (max-width: 510px){
  .profile__avatar-picture {
    margin: 0;
}
}

.profile__info {
    display: grid;
    max-width: 415px;
    margin: 0;
    grid-template-areas: 
    'title button'
    'subtitle subtitle';
    grid-template-columns: 9fr 1fr;/*373 42px*/
}

@media screen and (max-width: 510px){
  .profile__info {
    margin: 26px auto 0;
    grid-template-columns: 9fr 1fr;
  }
}
.profile__title-name {
    grid-area: title;
    margin: 0;
    align-self: flex-end;
    font-weight: 500;
    font-size: 42px;
    line-height: 1.14;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

@media screen and (max-width: 1024px){
  .profile__title-name {
    font-size: 36px;
  }
}

@media screen and (max-width: 950px){
  .profile__title-name {
    font-size: 30px;
  }
}

@media screen and (max-width: 510px){
  .profile__title-name {
    font-size: 26px;
    text-align: center;
  }
}

.profile__subtitle {
    grid-area: subtitle;
    margin: 16px 0 0;
    font-size: 18px;
    line-height: 1.22;
}

@media screen and (max-width: 510px){
  .profile__subtitle {
    text-align: center;
  }
}
.profile__button {
    display: block;
    box-sizing: border-box;
    cursor: pointer;
}

.profile__button_type_edit {
    grid-area: button;
    width: 10px;
    margin: 22px 0 0 25px;/*22 0 0 25*/
    outline: 1px solid #FFFFFF;
    outline-offset: 7px;
}

@media screen and (max-width: 510px){
  .profile__button_type_edit {
    width: 8px;
    outline-offset: 5px;
  }
}
.profile__button-wrapper {
  max-width: 150px;
  width: 100%;
  min-width: 60px;
  height: 50px;
  display: flex;
  border: 2px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 2px;
  margin: 0 0 0 18%;/*236px*/
  align-self: center;
}



@media screen and (max-width: 768px){
  .profile__button-wrapper {
    margin: 0 0 0 8%;
  }
}

@media screen and (max-width: 510px){
  .profile__button-wrapper {
    max-width: 100%;
    margin: 36px 0 0;
  }
}
.profile__button_type_add {
    display: block;
    width: 22px;
    height: 22px;
    margin: auto;
}

.image-cards {
    padding: 50px 0 0 0;
}

@media screen and (max-width: 510px){
  .image-cards {
    padding-top: 36px;
}
}
.cards__list {
    max-width: 100%;
    display: grid;
    margin: 0 auto;
    padding: 0;
    /*grid-template-columns: repeat(auto-fit, minmax(282px, 1fr));*/
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    column-gap: 17px;
    row-gap: 20px;
}


@media screen and (max-width: 680px){
  .cards__list {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    column-gap: 12px;
  }
}

@media screen and (max-width: 510px){
  .cards__list {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);
    column-gap: 0;
  }
}

.cards__item {
    display: flex;
    max-width: 100%;
    min-height: 361px;
    margin: 0;
    padding: 0;
    flex-direction: column;
    list-style: none;
    background-color: #FFFFFF;
    border-radius: 10px;
}

.cards__info {
  max-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 25px 18px 0 21px;
    text-overflow: ellipsis;
    /*white-space: nowrap;*/
}

.cards__image {
  display: block;
    max-width: 100%;
    min-height: 202px;
    border-radius: 10px 10px 0px 0px;
    object-fit: cover;
}
.cards__title {
    margin: 0;
    font-weight: 900;
    font-size: 24px;
    line-height: 1.2;
    color: #000000;
    text-overflow: ellipsis;
}

.cards__heart-icon {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
}

.cards__pseudo-icon {
    width: 22px;
    height: 20px;
    display: inline-block;
    vertical-align: middle; 
    background-image: url('./images/heart-icon.svg');
    background-size: cover;
    opacity: 1;

}

.cards__heart-icon:checked + .cards__pseudo-icon {
  background-image: url('./images/heart-icon-fill.svg');
}

.cards__heart-icon:hover:not(:checked) + .cards__pseudo-icon {
  opacity: .5;
}

.footer {
  padding: 68px 0 60px;
}

@media screen and (max-width: 510px){
  .footer {
    padding: 50px 0 30px;
  }
}

.footer__copyright {
  margin: 0;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.22;
  color: #545454;

}