.form-profile__caption {
    display: inline-block;
    font-weight: 900;
    font-size: 24px;
    line-height: 1.21;
    color: #000;
}

@media screen and (max-width: 604px){
  .form-profile__caption {
    font-size: 18px;
    line-height: 1.22;
  }
}