.profile__subtitle {
    display: block;
    grid-area: subtitle;
    margin: 16px 0 0;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.22;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

@media screen and (max-width: 510px){
  .profile__subtitle {
    margin-top: 14px;
    font-size: 14px;
    line-height: 1.21;
    text-align: center;
  }
}