@import url('./__input-container/form-profile__input-container.css');
@import url('./__caption/form-profile__caption.css');
@import url('./__item/form-profile__item.css');
@import url('./__item/_el/form-profile__item_el_name.css');
@import url('./__item/_el/form-profile__item_el_subtitle.css');
@import url('./__close-btn/form-profile__close-btn.css');
@import url('./__button/form-profile__button.css');


.form-profile {
    width: 100%;
    background: #FFFFFF;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
}