.card__remove-btn {
    position: absolute;
    top: 18px;
    right: 15px;
    width: 18px;
    height: 19px;
    display: inline-block;
    vertical-align: middle;
    background-image: url('../../../images/vector-bin.svg');
    background-color: transparent;
    background-size: cover;
    border: none;
    outline: none;
    cursor: pointer;
    filter: drop-shadow(1px 1px 1px rgb(63, 61, 61));
    opacity: 1;
    transition: all .4s ease-in-out;
}