.modal__container {
    position: relative;
    max-width: 430px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 604px){
    .modal__container {
      max-width: 282px;
    }
  }