@import url('./__image/card__image.css');
@import url('./__info/card__info.css');
@import url('./__like-btn/card__like-btn.css');
@import url('./__like-btn/_active/card__like-btn_active.css');
@import url('./__title/card__title.css');
@import url('./__remove-btn/card__remove-btn.css');
@import url('./__remove-btn/_visible/card__remove-btn_visible.css');
@import url('./__like/card__like.css');
@import url('./__like-count/card__like-count.css');

.card {
    display: flex;
    position: relative;
    max-width: 100%;
    min-height: 361px;
    margin: 0;
    padding: 0;
    flex-direction: column;
    list-style: none;
}