.form__label {
    position: relative;
    padding: 0;
}

.form__label:first-of-type {
    margin-top: 40px;
  }
  
.form__label:last-of-type {
    margin-top: 30px;
}
  
@media screen and (max-width: 604px){
    .form__label:first-of-type {
      margin-top: 67px;
  }
}