.profile__info {
    display: grid;
    max-width: 415px;
    margin: 0;
    padding: 0;
    grid-template-areas: 
    'title button'
    'subtitle subtitle';
    grid-template-columns: 9fr 1fr;
}

@media screen and (max-width: 510px){
  .profile__info {
    max-width: 100%;
    margin: 26px 0 0;
    grid-template-columns: 9fr 2fr;
  }
}