.card__heart-btn {
    width: 22px;
    height: 20px;
    display: inline-block;
    vertical-align: middle;
    background-image: url('../../../images/heart-icon.svg');
    background-size: cover;
    border: none;
    outline: none;
    cursor: pointer;
    opacity: 1;
}
